version: "3"

services:
  app:
    image: fastapi-playground:latest
    command: uv run fastapi run src/main.py --port 8081
    ports:
      - "8082:8082"
    deploy:
      replicas: 3
      update_config:
        order: start-first
        parallelism: 1
        delay: 10s
